---
layout: base
---
<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>
  <div class="col-md-13 aside3-content">
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>

    <div style="font-size:18px">
      版权声明：本文为博主原创文章，转载请注明<a href='{{ site.address }}{{ page.url }}'>出处</a>。
      <span id="busuanzi_container_page_pv" style="float: right; padding-right: 2px; display: inline;">
        本文总阅读量<span id="busuanzi_value_page_pv"></span>次
      </span>
    </div>

<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

    <hr>
   {% include uy_comment.html %}
  </div>
  <!-- 目录 -->
  <div id="content_table" style="position:fixed;right:20px;top:120px;display:none;">
    <div class="panel panel-success">
      <div class="panel-body" id="nav"></div>
    </div>
  </div>
</div>

